---
import logo from "../img/logo-g.png";
import cv from "../img/CV-Gustavo-Avila.pdf";
import linkedin from "../img/linkedin.png";
import github from "../img/github.png";

let pathName = Astro.url.pathname;

---

<header id="header" class="header container glass">
    <p class="header__title">
        <a href="/"><img src={logo} alt="logo"></a>
    </p>
    <nav class="header__nav-menu">
        <ul class="header__list">
            <li class="header__link">
                <a class={pathName === '/' ? 'link-active' : ''} href="/">Work</a>
            </li>
            <li class="header__link">
                <a class={pathName === '/about' ? 'link-active' : ''} href="/about">About</a>
            </li>
            <li class="header__link">
                <a rel="noopener noreferrer" target="_blank" href={cv}>Resume</a>
            </li>
            <li class="header__link">
                <a class={pathName === '/contact' ? 'link-active' : ''} href="mailto:info.gustavoavila@gmail.com"  rel="noopener noreferrer" target="_blank">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="header__rrss">
        <a href="https://www.linkedin.com/in/gustavo-avila-2a153311b/" rel="noopener noreferrer" target="_blank">
            <img src={linkedin} alt="">
        </a>
        <a href="https://github.com/tavoavilaa" rel="noopener noreferrer" target="_blank">
            <img src={github} alt="">
        </a>
    </div>
</header>

<style>
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header{
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .header__title{
        font-size: 1.8rem;
        color: var(--white);
        margin: 0;
    }

    .header__title a{
        display: flex;
        align-items: center;
        column-gap: 16px;
    }

    .header__title a img{
        width: 64px;
    }

    .header__title a{
       text-decoration: none;
       color: var(--white);
    }

    .header__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 24px;
    }

    .header__link{
        list-style: none;
    }

    .header__link a{
        text-decoration: none;
        color: var(--white);
        text-transform: uppercase;
        transition: all .3s ease;
    }

    .header__link a:hover{
        text-shadow: 0 0 5px #fff6ff, 0 0 8px #fff6ff;
        transition: all .3s ease;
    }

    .link-active{
        color: var(--primary) !important;
        border-bottom: 1px solid var(--secundary);
        padding: 8px 12px;
    }

    .link-active:hover{
        text-shadow: 0 0 5px var(--terciary), 0 0 8px var(--terciary) !important;
    }

    .header__rrss a img{
        width: 40px;
        margin: 0 4px;
        transition: transform .5s ease;
    }

    .header__rrss a img:hover{
        transform: scale(1.1);
        transition: transform .5s ease;
    }


</style>
