---
import dummie from '../img/hero-dummie.png';
import cv from "../img/CV-Gustavo-Avila.pdf";
---

<section class="hero container glass">
    <div class="hero__title">
        <h1>Gustavo Avila</h1>
        <p>Frontend Developer | UI | UX </p>
        <div class="hero__buttons">
            <a href="/about" class="btn__primary">
                Read more →
            </a>
            <a href={cv} target="_blank" class="btn__secundary">
                Resume →
            </a>
        </div>
    </div>
    <img class="hero__img" src={dummie} alt="Hero character">
</section>

<style>
    .hero{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 24px;
        padding-bottom: 0;
    }

    .hero__title h1{
        font-size: 4rem;
        color: var(--white);
        margin: 0;
       
    }

    .hero__title p{
        font-size: 1.5rem;
        color: var(--white);
        margin: 0;
        font-weight: lighter;
       
    }

    .hero__img{
        max-width: 500px;
        align-self: flex-end;
    }


    .hero__buttons{
        margin-top: 24px;
        display: flex;
        gap: 24px;
    }

   
</style>
