---
import dummie from '../img/hero-dummie.png';
import cv from "../img/CV-Gustavo-Avila.pdf";
---

<section class="hero container glass animate__animated animate__slideInUp">
    <div class="hero__title">
        <h1 class="animate__animated animate__fadeInUp animate__delay-1s	1s">Gustavo Avila</h1>
        <p class="animate__animated animate__fadeInDown animate__delay-2s	2s">Frontend Developer | UI | UX </p>
        <div class="hero__buttons animate__animated animate__fadeInUp animate__delay-2s	2s">
            <a href="/about" class="btn__primary">
                Read more →
            </a>
            <a href={cv} target="_blank" class="btn__secundary">
                Resume →
            </a>
        </div>
    </div>
    <div>
        <img class="hero__img animate__animated animate__fadeIn animate__delay-2s	4s animate__slower" src={dummie} alt="Hero character">
    </div>
</section>

<style>
    .hero{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 24px;
        padding-bottom: 0;
    }

    @media (max-width: 991.98px){
    	.hero{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }

        .hero__title{
            text-align: center;
        }
    }


    .hero__title h1{
        font-size: 4rem;
        color: var(--white);
        margin: 0;
       
    }

    @media (max-width: 991.98px){
    	.hero__title h1{
            font-size: 3.5rem;
       
        }
    }

    .hero__title p{
        font-size: 1.5rem;
        color: var(--white);
        margin: 0;
        font-weight: lighter;
       
    }

    @media (max-width: 991.98px){
    	.hero__title p{
        font-size: 1.3rem;
        margin: 8px 0;
        }
    }

    .hero__img{
        max-width: 500px;
        align-self: flex-end;
    }

    @media (max-width: 991.98px){
        .hero__img{
        max-width: 300px;
        align-self: flex-end;
        }
    }


    .hero__buttons{
        margin-top: 40px;
        display: flex;
        gap: 24px;
    }

    @media (max-width: 991.98px){
        .hero__buttons{
            flex-direction: column;
            margin-bottom: 40px;
        }
    }

   
</style>
